
.servicing-heading{
   display: inline;
    position: relative;
    border-bottom: 0.12rem solid black;
    padding-bottom: 0.7rem;
    font-weight: 700;
   
   
}
.servicing-heading::before{
    transition: .3s;
    position: absolute;
    content: "";
    width: 30%;
    height: 0.2rem;
    background:#41D99F;
    bottom: -4%;
    margin: auto;
    left: 35%;
 
   
}
.shado{
   
}

.box{
   
    min-height: 250px;
    transition: 1s;
    /* box-shadow: 4px 4px 8px #cbcbcb,4px -4px 8px #ffffff; */
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
}
.box:hover{
    background: #41D99F;
}
.img-design{
    width: auto;
    height: 100px;
    margin: auto;
    margin: 5% auto;
  
}
.important-service{
    background: #41D99F;
}
.service-name{
    color: black;
    margin: 10px 0;
    letter-spacing: 1.5px;
    font-weight: 700;
}