
.servicing-heading{
   
   display: inline;
    position: relative;
    border-bottom: 0.12rem solid rgb(196 155 102);
    padding-bottom: 0.7rem;
    color: #87431D;
   
}
.servicing-heading::before{
    transition: .3s;
    position: absolute;
    content: "";
    width: 30%;
    height: 0.2rem;
    background: #87431D;
    bottom: -4%;
    margin: auto;
    left: 35%;
   
   
}

.box{
    /* background-color:#ffe2a919 ; */
    /* border: 1px solid #ffe2a9e6; */
    min-height: 250px;
}
.img-design{
    width: auto;
    height: 100px;
    margin: auto;
  
}
.service-name{
    color: #87431D;
    margin: 10px 0;
}