.logo{
    color:#ffe2a9e6;
    font-weight: 700;
    font-family: 'Oleo Script', cursive;
    word-spacing: 10px;
}
.logo-fast-letter{
    font-size: 45px;
    color: #86D8DC;
}
.menu{
    color:#ffe2a9e6;
}