.logo{
   
    height: 300px;
    width: 300px;
    padding-top: 2%;
    /* font-weight: 700;
    font-family: 'Oleo Script', cursive;
    word-spacing: 10px; */
}

.menu{
    color: black;
    font-weight: 500;
}