.Projects-heading{
   
    letter-spacing: 1.5px;
}
.project-name{
    color: #87431D;
    letter-spacing: 1.5px;
}
.projects-box {
    border: 1px solid #87431D;
    background-color:#ffe2a93a ;
}
.project-img{
    width: 100%;
    height: 200px;
    
}
.peoject-details-btn{
    padding: 10px 15px;
    background-color: #87431D;
    text-align: left;
    color: antiquewhite;
}
.peoject-details-btn:hover{
    background-color: #87431D77;
}

