.projects-btn:hover{
   
    background-color:#41D99F;
    color: bisque;
    
}
.projects-btn{
    color:#41D99F;
    border: 1px solid#41D99F;
    background: white;
    font-weight: 600;
    padding: 5px 10px;
    font-size: 14px;
    transition: 1s;
}
.projects-tittle{
    letter-spacing: 1.8px;
    color:#41D99F;
}