.projects-btn:hover{
   
    background-color: #87431D;
    color: bisque;
    
}
.projects-btn{
    color: #87431D;
    border: 1px solid #87431D;
    background: white;
    font-weight: 600;
    padding: 5px 10px;
    font-size: 14px;
    transition: 1s;
}
.projects-tittle{
    letter-spacing: 1.8px;
    color: #87431D;
}