.projects-btn{
    padding: 5px 10px;
    font-size: 14px;
    background-color: #87431D;
    color: bisque;
    font-weight: 600;
    transition: 1s;
}
.projects-btn:hover{
    color: #87431D;
    border: 1px solid #87431D;
    background: white;
}
.projects-tittle{
    letter-spacing: 1.8px;
}