.contact-background{
    background-image: linear-gradient( to right,rgba(0,0,0,0.5),rgba(0,0,0,0.7)) ,url("https://cdn.pixabay.com/photo/2016/06/25/12/52/laptop-1478822_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}



.contact-heading{
   font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 5%;
    color: #ffffff;
}
input{
    border: 2px solid#41D99F;
    padding: 8px 15px;
    width: 100%;
    margin: 5px 0;
    background: #5ab69373;
    color: black;

   
}
textarea{
    border: 1px solid#41D99F;
    padding: 8px 15px;
    margin: 5px 0;
   background: #5ab69373;

}
.form-width{
  
    padding: 7px;
    padding-bottom: 10%;
}


.submit{
    background-color:#41D99F;
    color: black;
    font-weight: 700;
    transition: 1s;
}
.submit:hover{
    background-color:#ffffff;
    color: black;
    font-weight: 700;
}



