.contact-heading{
    color: #87431D;
    letter-spacing: 1.5px;
}
input{
    border: 2px solid #87431D;
    padding: 8px 15px;
    margin: 5px;
    width: 100%;
}
textarea{
    border: 1px solid #87431D;
    padding: 8px 15px;
    margin: 5px;
    width: 100%;
    margin-bottom: 15px;

}
.form-width{
   
    padding: 10px;
}
.contact-background{
    background-color:#ffe2a93a ;
}
.img{
    background-color: #87431D;
    width: 80%;
    height: auto;
}
.submit{
    background-color: #87431D;
    color: #ffe2a9e6;
}

@media (max-width:1300px) {
    .img{
        margin: auto;
    }
    .form-width {
        margin: auto;
    }
}

@media (min-width:1300px) {

    .form-width{
        margin: auto;
    }
}
@media (min-width:1200px) {

    .form-width{
       padding: 0 15px;
    }
    .img{
        padding: 0 15px;
    }
}

