.maxWidth{
    max-width: 1200px;
}
.about-heading{
    letter-spacing:1px;
    color: #4B2B30;
    border-bottom: 2px solid #ddd;
    display: inline;
    padding-right: 20px;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-top: -30px;
   
}
.about-heading::before{
    content: " I am Fronted";
    border-bottom: 2px solid #4B2B30;
    padding-bottom: 5px;
    margin-bottom: 20px;
 
}
.about-img{
    width: auto;
    height: 450px;
    border-radius: 200px 0 10px 0;
    background-color: rgba(127, 255, 212, 0.904);
    padding-left: 50px;
    margin: auto;
}
.icon{
    margin-right: 10px;
    font-size: 25px;
    color: #4B2B30;
  
   

}
.about-btn{
    padding: 10px 15px;
    background-color: #4B2B30;
    color: bisque;
    border-radius: 2px;
    transition: 1s;
    

}
.about-btn:hover{
  
 
    color: #4B2B30;
    border-radius: 2px;
    background-color:#ffe2a9e6;
    

}