.skills-background{
    background-color: #212121;
}

.skill-heading{
    text-align: center;
    font-weight: 900;
    letter-spacing: 1.8;
}


.skill-btn{
  
    padding: 5x 20px;
    margin: 5px;
    color: rgba(220, 220, 220, 0.866);
    font-weight: 500;
    font-size: 14px;
    border-radius: 0;
    /* border-radius: 50px; */
    border-radius: 10px;
    background: linear-gradient(145deg, black, black);
    /* box-shadow: 4px 4px 8px black,4px -4px 8px black; */
}